# PYTHON DATA ANALYSIS

## Outline
- Data Analysis Steps
- Full Data Analysis Case-study
    - BikeStores Analysis

# Full Data Analysis Case-study (BikeStores Analysis)

### 1] Libraries & Data Importing

##### Import libraries and read in the BikeStores csv file

### 2] Data Understanding (Asking Questions)

In [ ]:
#1- read data
#2- print head and tail
#3- info about data
#4- describe data
#5- Check missing values
#6- if missing values in any column ---> handle
#7- unique values and value count for each column
#8- shape of data

##### Check the content of the DataFrame

##### How many rows and columns are there?

In [ ]:
# Rows, Columns

##### Check the data types

In [ ]:
# Statistical Summary

### 3] Data Wrangling (Cleaning & Manipulation)

##### Are there any missing / duplicated data?

#remove null
#Replace >> 
## Numerical>> Mean , Categorical >> Mode
data.fillna(....)
data.dropna()

In [ ]:
#Sort Values

In [ ]:
#Add Column

##### Double-check for the columns names and update any of them if needed

In [ ]:
#Rename Columns

##### Can you convert the City column to UpperCases?

### 4] Data Analysis & Visualization (EDA & Statistical Analysis)
#### Exploratory Data Analysis

##### What is the average Revenue?

##### What were the highest and lowest Revenue?

##### How many orders have 'Road Bikes'  as a category name ?

##### Display the data which revenue greater than 10000

##### what is the total revenue for each Brand ?

##### what is the total revenue for each Category Name ?

### you should ask 4 questions and answer it

# GOOD LUCK!